.home {
  padding: 2rem 0;
  width: 100%;
  box-sizing: border-box;
}

.search-form {
  max-width: 600px;
  margin: 0 auto 2rem;
  display: flex;
  gap: 1rem;
  padding: 0 1rem;
  box-sizing: border-box;
}

.search-input {
  flex: 1;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 4px;
  background-color: white;
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-size: 1.25rem;
  box-shadow: 0 0 0 2px #dc2121; /* Red box shadow */
  -webkit-box-shadow: 0 0 0 2px #dc2121; /* For Safari and older browsers */
}

/* Default placeholder color */
.search-input::placeholder {
  color: #999;
  opacity: 1;
}

/* Placeholder color when input is focused */
.search-input:focus::placeholder {
  color: #ccc;
}

.search-input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #0a0a0a; /* Black box shadow on focus */
  -webkit-box-shadow: 0 0 0 2px #0a0a0a; /* For Safari and older browsers */
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
}

/* Vendor prefixes for better browser support */
.search-input::-webkit-input-placeholder {
  color: #000000;
}

.search-input::-moz-placeholder {
  color: #000000;
  opacity: 1;
}

.search-input:-ms-input-placeholder {
  color: #000000;
}

.search-input:focus::-webkit-input-placeholder {
  color: #ffffff;
}

.search-input:focus::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}

.search-input:focus:-ms-input-placeholder {
  color: #000000;
}

.search-button {
  padding: 0.75rem 1.5rem;
  background-color: #e50914;
  color: white;
  border-radius: 4px;
  font-weight: 500;
  transition: background-color 0.2s;
  white-space: nowrap;
}

.search-button:hover {
  background-color: white;
  color: #e50914;
}

@media (max-width: 639px) {
  .home {
    padding: 1rem 0;
  }

  .search-form {
    flex-direction: column; /* Stack input and button vertically */
    gap: 0.5rem; /* Reduce gap between input and button */
    padding: 0 0.5rem; /* Reduce padding for smaller screens */
  }

  .search-input {
    width: 100%; /* Ensure input takes full width */
    box-shadow: 0 0 0 2px #dc2121; /* Ensure red box shadow is visible on mobile */
    -webkit-box-shadow: 0 0 0 2px #dc2121; /* For Safari and older browsers */
  }

  .search-input:focus {
    box-shadow: 0 0 0 2px #0a0a0a; /* Ensure black box shadow is visible on mobile */
    -webkit-box-shadow: 0 0 0 2px #0a0a0a; /* For Safari and older browsers */
  }

  .search-button {
    width: 100%; /* Ensure button takes full width */
    padding: 0.75rem; /* Adjust padding for smaller screens */
  }
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  gap: 1.5rem;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}
